@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 990px) {
    body {
    background-image: linear-gradient(to top,#8C3503,#F2B885,#F2DCC9);
    }

    #login {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 990px) {
    body {
        background-image: linear-gradient(to top,#8C3503,#F2B885,#F2DCC9);
        }

    #login {
        width: 950px;
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 50%;
    }
}